body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #333333;
    margin: 0;
    padding: 1rem 2.5rem;
}

.row {
    margin: 3rem 4rem 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.block {
    width: 20rem;
}

.size {
    padding: 1rem;
    margin: 0;
}

.noDecoration{
    text-decoration: none;
    list-style-type: none;
}

.noPadding {
    padding:0;
}

.title {
    font-size: 1.5rem;
    color: #e7e7e7;
}

.center{
    margin: auto;
    width: 100%;
    padding: 1rem 5rem;
}



.box {
    border-color: lightgrey;
    border-radius: 1.5rem;
    border-style: solid;
    border-width: 0.1rem;
    margin: 0 4rem 6rem;
    padding: 1rem;
    width: auto;
}

.img {
    width: 9rem;
    object-fit: contain;
    margin: 2rem 5rem 2rem 1rem;
}
.about-middle-container {
    margin: 0 8rem 2rem 0;
    width: 20rem;
}

.totalPrice {
    font-size: x-large;
}

/* Buttons */
.btn-class{
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.getLoanBtn {
    margin-top: 2rem;
    padding: 0.5rem 1.4rem;
    background-color: salmon;
}
.payLoanBtn {
    width: 6rem;
    margin-top: unset;
    padding: 0.5rem ;
    background-color: darkseagreen;
}

.additionalBankBtnClass {
    width: 6rem;
    margin-top: unset;
    padding: 0.5rem ;
}

.bankBtn {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: lightseagreen;
}

.workBtn {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: lightskyblue;
}

.buyBtn {
    padding: 0.5rem 1.3rem;
    background-color: steelblue;
    color: white;
}